<div class="mob-menu">
    <ul>
        <li>
            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        </li>
        <li>
            <a class="nav-link" href="#">The Promise</a>
        </li>
        <li>
            <a class="nav-link" href="#">Food For</a>
        </li>
        <li>
            <a class="nav-link" href="#">Spotlight</a>
        </li>
        <li>
            <a class="nav-link" href="#">Who We Are</a>
        </li>
    </ul>
</div>